@import "variables.scss";

.header {
  margin-left: 60px;
  height: 168px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tools {
  display: flex;
  width: 100%;
  border-bottom: $main-border-style;
  height: 72px;
  align-items: center;

  &__create-btn {
    font-size: 18px;
    border-radius: 30px;
    box-shadow: $box-shadow;
    height: 48px;
    width: 120px;
    border: none;

    &:active {
      box-shadow: none;
      border-bottom: 1px solid $chosen-color;
      color: $chosen-color;
    }
  }

  &__today-btn {
    border: $main-border-style;
    height: 42px;
    width: 96px;

    &:active {
      box-shadow: none;
      color: $chosen-color;
    }
  }

  &__toggle-btn {
    height: 42px;
    width: 24px;
    font-size: 36px;
    border: none;

    &:active {
      box-shadow: none;
      color: $chosen-color;
    }
  }
  &__current-month-text {
    width: 240px;
    margin-left: 24px;
    font-size: 24px;
    font-weight: 700;
    color: $main-color;
  }
}
.btn {
  cursor: pointer;
  padding: 0;
  margin-left: 24px;
  background-color: transparent;
  outline: none;
  font-weight: 700;
  color: $main-color;
}

.days {
  width: 100%;
  display: flex;
  border-bottom: $main-border-style;
  height: 96px;
}

.GMT {
  width: 71px;
  font-size: 12px;
  padding-top: 84px;
  color: $main-color;
}

.days-list {
  display: flex;
  width: 94%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 158px;

    &__text {
      margin-top: 24px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      color: $main-color;
      font-weight: 700;
    }

    &__number {
      width: 100%;
      height: 54px;
      text-align: center;
      font-size: 30px;
      color: $main-color;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 21px;
        border-left: $main-border-style;
        background-color: transparent;
      }
    }
  }
}

.today-text {
  color: $chosen-color;
}

.today-number {
  color: $background-color;
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: $chosen-color;
    right: 0;
    left: 0;
    bottom: 9px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
  }
}

.main {
  width: 100%;
  height: 420px;
  margin-left: 60px;
  overflow: auto;
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.hours-row {
  width: 100%;
  display: flex;
}

.hour-value {
  width: 71px;
  position: relative;
}

.hour-number {
  position: absolute;
  bottom: 51px;
  padding-left: 12px;
  display: block;
  width: 60px;
  background-color: $background-color;
  font-size: 12px;
  color: $main-color;
}

td {
  height: 60px;
  border-bottom: $main-border-style;
  padding: 0;
  position: relative;
}

.day-hour {
  border-left: $main-border-style;
  width: 158px;
}

.arrow {
  height: 2px;
  width: 158px;
  left: calc(71px + 158px * 0);
  top: calc(-1px + 30px);
  position: absolute;
  background-color: #f00;
  z-index: 2;

  &::after {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #f00;
    margin-left: -6px;
    margin-top: -6px;
  }
}

.event {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: calc(15px - 4px + 45px);
  top: calc(15px * 3);
  left: 71px;
  background-color: #b0b8ff;
  z-index: 1;
  border-radius: 6px;

  &__delete {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 45px;
    background-color: $background-color;
    box-shadow: $box-shadow;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 100px;
    text-align: center;
    line-height: 45px;

    &__cross {
      display: inline-block;
      transform: rotate(45deg);
    }
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__time {
    font-weight: 700;
  }
}

.event-settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 350px;
  background-color: $background-color;
  box-shadow: $box-shadow;
  z-index: 3;
  top: 200px;
  left: 400px;

  &__delete {
    transform: rotate(45deg);
    position: absolute;
    z-index: 3;
    right: 6px;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__name{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid $chosen-color;
    outline: none;
    color: $main-color;
    font-size: 18px;
    font-weight: 700;
  }

  &__time{
    margin-left: 100px;
    margin-top: 100px;
  }

  &__save-btn{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: $chosen-color;
    color: $background-color;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    margin-top: 120px;
    margin-left: 320px;
  }
}
