.days {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #dbd9d9;
    height: 96px;
  }

  .days-list {
    display: flex;
    width: 94%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }