.save-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0b64ca;
  color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  margin-top: 120px;
  margin-left: 320px;
}
