.event-settings {
  &__name {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid #0b64ca;
    outline: none;
    color: #5f5f5f;
    font-size: 18px;
    font-weight: 700;
  }

  &__time {
    margin-left: 130px;
    margin-top: 100px;
  }
}
