.event-settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0px 6px 20px -6px rgba(0, 0, 0, 0.75);
  z-index: 3;
  top: 200px;
  left: 400px;

  &__name {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid #0b64ca;
    outline: none;
    color: #5f5f5f;
    font-size: 18px;
    font-weight: 700;
  }

  &__time {
    margin-left: 100px;
    margin-top: 100px;
  }
}
